body {
  background-image: url("https://i.pinimg.com/736x/b9/84/75/b984750467f7b4b000f03977cc1d2ca4--s-arcade-tao.jpg");
  margin : 0;
  color: white;
}

h1{
  color: white;
}

img {
  height: 25em;
  width: 15em
}

nav {
  align-content: center;
  background: rgb(5, 5, 82);
  text-align: center;
  color: white;
}

.nav-bar {
  color: white;
  font-size: 20px; 
}

span {
  color: white;
  font-size: 20px; 
}

nav h1 {
  font-size: 2.5em;
  display: inline;
  color: rgb(255, 94, 0);
}

nav img {
  height: 8em;
  width: 8em;
}

#vhs {
  position: absolute;
  left: 0;
}

#rad {
  position: absolute;
  right: 0;
}

li {
  float: left;
  flex: auto;
}

input {
  width: 14em;
  height: 2.5em;
  border-radius: .5em;
  background-color: #f2f2f2;
  font-size: 18px;
  margin-bottom: 1.5em;
}

.sub-btn {
  background-color: #1A237E;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.5em;
  width: 14em;
  margin-left: 1em;
}

small {
   color: white;
   font-size: 14px;
}

.cart {
    width: 6em;
    height:4em;
    margin-left: 1em;
    opacity: 0.90;
    background: #FAFAFA;
    border-radius: 0.1em;

}

li a {
  display: block;
  font-size: 20px;
  color: rgb(241, 50, 209);
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(117, 185, 216);
}

.active {
  border-radius: 5px;
  margin: 5px;
  padding:5px;
}

.center {
  display: block;
  margin: auto;
}
.nav-bar {
  margin-right: 0.5em;
  padding: 0.5em;
}



/*+++++++++++++++++++++++*/



table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
  background-color:#fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
