body {
  background: #607D8B;
}

h1 {
  color: white;
}

img {
  height: 25em;
  width: 15em
}


li {
  float: left;
  flex: auto;
}

span {
  font-size: 25px;
  color: white;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(117, 185, 216);
}

.active {
  background-color: #2962FF;
  border-radius: 5px;
  margin: 5px;
  padding:5px;
}
